In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("mobile_price_synthetic_2015_2024_DIRTY.csv")
df.head()

,Year,Brand,Model Tier,OS,Network Type,Dual Sim,Has5G,Battery_mAh,ScreenSize_in,RAM_GB,StorageGB,Camera_MP,Weight_g,CPU_GHz,Resolution_MP,PriceClass
0,2019.0,Oppo,Flagship,Android,4G,Yes,No,NaN,6.46,8.0,256.0,64.0,NaN,2.83,5.53,2.0
1,2023.0,Nokia,Flagship,Android,5G,Yes,Yes,4681.0,6.74,12.0,256.0,48.0,259.0,2.96,5.87,3.0
2,2016.0,Samsung,Budget,Android,4G,YES,No#,NaN,5.09,4.0,64.0,8.0,221.0,1.56,2.39,0.0
3,2023.0,OnePlus,Midrange,ANDROID,5G,No,yes,3650.0,6.45,8.0,128.0,48.0,215.0,2.32,4.72,3.0
4,2024.0,Motorola,MIDRANGE !,Android,5g,No,Yes,4388.0,6.81,8.0,256.0,48.0,242.0,2.96,5.28,3.0

In [2]:
df.dropna(subset=['Year'], inplace=True) # Remove rows with missing 'Year' values because they cannot be filled meaningfully
df['Year'] = df['Year'].astype(int)
df['Year'].unique()

array([2019, 2023, 2016, 2024, 2022, 2017, 2018, 2021, 2015, 2020])

In [3]:
df['Brand'].unique()

array(['Oppo', ' Nokia', 'Samsung', 'OnePlus', ' Motorola ', 'Apple',
       'Motorola', ' Motorola', ' Xiaomi ', 'Xiaomi', 'vivo*', 'Sony',
       nan, 'Huawei ', 'Motorola#', 'Huawei', 'apple', 'samsung', 'Vivo',
       'Apple$', ' PPLE ', 'Google', ' sony', 'motorola ', 'xiaomi ',
       'Apple ', ' Xiaomi', 'Nokia ', 'ONEPLUS', ' Oppo$', ' SAMSUNG !',
       'vivo', 'Nokia', ' Huawei *', 'samsung ', 'googe', ' Samsung!',
       ' Apple', ' xiaomi ', ' Oppo*', 'Samsung#', 'APPLE', 'aple',
       'OnePlus $', ' vivo ', 'xiaomi', ' oppo ', ' ONEPLUS', ' APPLE',
       ' amsung', 'google ', ' Vivo', 'google', 'sony', 'oppo', 'NOKIA',
       ' xiaomi', ' Appl ', 'Motorola ', 'GOOGLE', 'XIAOMI#', ' Huawei!',
       'onepus ', 'oneplus', ' Nokia ', 'HUAWEI', 'nokia ', ' APPLE ',
       ' oneplus ', ' OnePlus', ' Sony', ' Smsung ', 'vivo ', ' OnePlus ',
       'OPPO', 'PPLE', 'Huawi', 'VIVO !', 'Xiaoi', 'oneplus ', 'XIAOMI',
       ' nePlus ', ' MOTOROLA', 'Apple*', 'Xiaomi!', 'Apple!', ' vivo !',
       'Motorola!', ' apple ', ' HUAWEI ', 'Samsung *', ' google', 'VIVO',
       'HUWEI', 'OnePlus ', 'SAMSUNG ', 'SONY', 'APPLE *', 'Aple ',
       ' nokia*', ' samsung', 'OnPlus', 'Appe ', ' vivo', 'Samsung!',
       'xiami ', ' nokia', 'SAMSUNG*', ' Apple ', ' APPLE*', ' SAMSUNG',
       'APPLE ', 'xiomi', 'SASUNG', 'SMSUNG ', 'oppo ', ' Google',
       'Google #', ' apple', 'GOOLE', 'SAMSUNG', ' OPPO', ' ONEPUS$',
       ' Huawei ', 'MOTOROLA', 'nokia', ' APPLE$', ' Xiaomi!', 'NKIA ',
       'Samsung ', 'motorola', 'apple ', ' Oppo', 'XIAOMI$', ' Sony #',
       'Noka ', ' Samsung', ' NOKIA', 'smsung!', ' Xiaomi$', ' ONEPLUS$',
       'sony!', 'appl', 'SONY!', ' Huaei*', ' Noia', 'MOTORLA', 'VIVO$',
       ' nePlus', 'XIAOMI ', ' ONEPLUS ', ' SAMSUNG$', 'Xiaomi ',
       'Google*', ' XIAOMI!', ' google ', 'Xiaom', ' HUAWEI', 'OPPO ',
       ' Oppo!', 'oppo *', 'Sony ', ' VIVO', ' oppo', 'Xiaomi*',
       ' SAMSUNG*', ' ppo#', 'smsung', 'huawei', 'GOOGLE $', ' Oppo ',
       'SAMSUNG!', 'Apple $', 'Vivo ', 'XIAOMI*', ' viv#', 'NOKIA!',
       'hawei$', 'SONY ', 'sony ', ' oneplus', 'samsung!', 'SMSUNG$',
       ' MOTOROLA ', 'Oppo #', 'Xiaomi#', 'Oppo#', 'VIVO#', 'Oppo ',
       ' Google ', 'okia ', 'samsung$', 'huawei ', ' Samsun!',
       'MOTOROLA$', 'Google!', 'motorola $', 'oppo*', ' okia',
       ' MOTOROLA#', 'xiaoi', 'Huaei', 'MOTOOLA ', ' GOOGLE', ' otorola ',
       ' SONY', 'SAMSUN ', 'VIVO ', 'Nokia!', 'Samsun', 'onplus *',
       'Huawei #', 'SAMUNG ', ' Gogle', 'xiaom ', ' APPE', ' Huawei$',
       'SAMSUNG $', 'APPE ', 'Motorola $', ' Huawei', 'APPLE #', 'okia#',
       'Samsung*', 'oneplus #', 'Google '], dtype=object)

In [4]:
df['Brand'] = df['Brand'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip().str.lower() # Fixing brand names

In [5]:
duzeltmeler = {
    'aple': 'apple', 'appl': 'apple', 'appe': 'apple', 'pple': 'apple',
    'samsun': 'samsung', 'smsung': 'samsung', 'sasung': 'samsung', 'samung': 'samsung', 'amsung': 'samsung',
    'xiaoi': 'xiaomi', 'xiaom': 'xiaomi', 'xiami': 'xiaomi', 'xiomi': 'xiaomi',
    'googe': 'google', 'gogle': 'google', 'goole': 'google',
    'onepus': 'oneplus', 'onplus': 'oneplus', 'neplus': 'oneplus',
    'huawi': 'huawei', 'huwei': 'huawei', 'huaei': 'huawei', 'hawei': 'huawei',
    'noka': 'nokia', 'noia': 'nokia', 'nkia': 'nokia', 'okia': 'nokia',
    'motorla': 'motorola', 'motorola': 'motorola', 'otorola': 'motorola',
}

df['Brand'] = df['Brand'].replace(duzeltmeler)

In [6]:
df['Brand'] = df['Brand'].str.capitalize()
df['Brand'].unique()

array(['Oppo', 'Nokia', 'Samsung', 'Oneplus', 'Motorola', 'Apple',
       'Xiaomi', 'Vivo', 'Sony', nan, 'Huawei', 'Google', 'Ppo', 'Viv',
       'Motoola'], dtype=object)

In [7]:
kalan_duzeltmeler = {
    'Ppo': 'Oppo',
    'Viv': 'Vivo',
    'Motoola': 'Motorola'
}
df['Brand'] = df['Brand'].replace(kalan_duzeltmeler)

df.dropna(subset=['Brand'], inplace=True)

df['Brand'].unique()

array(['Oppo', 'Nokia', 'Samsung', 'Oneplus', 'Motorola', 'Apple',
       'Xiaomi', 'Vivo', 'Sony', 'Huawei', 'Google'], dtype=object)

In [8]:
df['Model Tier'] = df['Model Tier'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip().str.lower() # Fixing Model Tier names

In [9]:
df['Model Tier'].unique()

array(['flagship', 'budget', 'midrange', nan, 'flagsip', 'midrage',
       'flgship', 'bdget', 'idrange', 'fagship', 'midrnge', 'flaghip',
       'budet', 'midrang', 'budge', 'mdrange', 'flagshp', 'budgt',
       'midrane', 'buget', 'udget', 'mirange'], dtype=object)

In [10]:
tier_duzeltme = {
    'flagsip': 'Flagship', 'flgship': 'Flagship', 'fagship': 'Flagship',
    'flaghip': 'Flagship', 'flagshp': 'Flagship', 'flagship': 'Flagship',
    'idrange': 'Midrange', 'midrnge': 'Midrange', 'midrang': 'Midrange',
    'mdrange': 'Midrange', 'midrane': 'Midrange', 'midrage': 'Midrange',
    'mirange': 'Midrange', 'midrange': 'Midrange',
    'budet': 'Budget', 'budge': 'Budget', 'budgt': 'Budget',
    'buget': 'Budget', 'udget': 'Budget', 'budget': 'Budget',
    'bdget': 'Budget'
}

df['Model Tier'] = df['Model Tier'].replace(tier_duzeltme)
df.dropna(subset=['Model Tier'], inplace=True)
df['Model Tier'].unique()

array(['Flagship', 'Budget', 'Midrange'], dtype=object)

In [11]:
df = df.copy() # Ensure we are working on a copy to avoid SettingWithCopyWarning
df["Has5G"] = df["Has5G"].astype(str).str.lower().str.strip() 
df["Has5G"] = df["Has5G"].str.extract(r"(yes|no)", expand=False)
df = df.dropna(subset=["Has5G"]) # Remove rows where Has5G could not be determined
df["Has5G"].value_counts()

Has5G
no     1393
yes     265
Name: count, dtype: int64

In [12]:
df["Dual Sim"] = df["Dual Sim"].astype(str).str.lower().str.strip()
df["Dual Sim"] = df["Dual Sim"].str.extract(r"(yes|no)", expand=False)
df = df.dropna(subset=["Dual Sim"]) # Remove rows where Dual Sim could not be determined
df["Dual Sim"].value_counts()

Dual Sim
yes    970
no     665
Name: count, dtype: int64

In [13]:
df["Network Type"] = df["Network Type"].astype(str).str.lower().str.strip()
df["Network Type"] = df["Network Type"].str.extract(r"(4g|5g|3g)", expand=False)
df.loc[df["Has5G"] == "yes", "Network Type"] = "5g" # If Has5G is yes, Network Type must be 5g
df["Network Type"] = df["Network Type"].fillna("4g") # Assuming missing means 4g because it is the most common one
df["Network Type"].value_counts()

Network Type
4g    1186
5g     262
3g     187
Name: count, dtype: int64

In [14]:
df["OS"] = df["OS"].astype(str).str.lower().str.strip()
df["OS"] = df["OS"].str.replace(r'[^a-z]', '', regex=True) # Remove non-letter characters
df["OS"] = df["OS"].str.extract(r"(android|ios|harmonyos)", expand=False)
df = df.drop("OS", axis=1)

In [15]:
df = df.dropna(subset=["Year","Brand","Model Tier"]) # Final check to ensure no critical missing values remain

In [16]:
df['CPU_GHz'] = df['CPU_GHz'].fillna(df['CPU_GHz'].mean()) #Mean was used because 'CPU_GHz' is continuous numerical variable.

In [17]:
df['Resolution_MP'] = df['Resolution_MP'].fillna(df['Resolution_MP'].mean()) #Mean was used because 'Resolution_MP' is continuous numerical variable.
df['Resolution_MP'] = df['Resolution_MP'].round(2) #Values were rounded because there were too many decimal places.

In [18]:
df['PriceClass'] = df['PriceClass'].fillna(df['PriceClass'].median()) #Median was used because 'Price_Class' is ordinal categorical variable.
df["PriceClass"] = df["PriceClass"].astype(int) #For Price_Class, float was changed to integer because 'Price_Class is a categorical variable. It was float only because of missing values earlier.

In [19]:
df['Battery_mAh'] = df['Battery_mAh'].fillna(df["Battery_mAh"].mean()) #Mean was used because 'Battery_mAh' is continuous numerical variable.

In [20]:
df['Battery_mAh'] = df['Battery_mAh'].round(2) # Values were rounded because there were too many decimal places.

In [21]:
df['ScreenSize_in'] = df['ScreenSize_in'].fillna(df['ScreenSize_in'].mean()) #Mean was used because 'ScreenSize_in' is continuous numerical variable.
df['ScreenSize_in'] = df['ScreenSize_in'].round(2) # Values were rounded because there were too many decimal places.

In [22]:
df["RAM_GB"] = df["RAM_GB"].fillna(df["RAM_GB"].median()) # Median was used because 'RAM_GB' is discrete numerical variable.

In [23]:
df["StorageGB"] = df["StorageGB"].fillna(df["StorageGB"].median()) # Median was used because 'Storage_GB' shows a skewed distribution.

In [24]:
df["Camera_MP"] = df["Camera_MP"].fillna(df["Camera_MP"].median()) # Median was used because 'Camera_MP' shows a skewed distribution.

In [25]:
df["Weight_g"] = df["Weight_g"].fillna(df["Weight_g"].mean()) # Mean was used because 'Weight_g' is a continuous numerical variable.
df['Weight_g'] = df['Weight_g'].round(2) # Values were rounded to improve readability.

In [26]:
df.columns = ['Year', 'Brand', 'Model_Tier', 'Network_Type', 'Dual_Sim', 'Has5G',
       'Battery_mAh', 'ScreenSize_in', 'RAM_GB', 'Storage_GB', 'Camera_MP',
       'Weight_g', 'CPU_GHz', 'Resolution_MP', 'Price_Class'] # Standardizing column names

In [ ]:
df.duplicated().sum() # Checking for duplicates

25

In [ ]:
df = df.drop_duplicates() # Dropping duplicate rows

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1635 entries, 0 to 1724
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1635 non-null   int64
 1   Brand          1635 non-null   object
 2   Model_Tier     1635 non-null   object
 3   Network_Type   1635 non-null   object
 4   Dual_Sim       1635 non-null   object
 5   Has5G          1635 non-null   object
 6   Battery_mAh    1635 non-null   float64
 7   ScreenSize_in  1635 non-null   float64
 8   RAM_GB         1635 non-null   float64
 9   Storage_GB     1635 non-null   float64
 10  Camera_MP      1635 non-null   float64
 11  Weight_g       1635 non-null   float64
 12  CPU_GHz        1635 non-null   float64
 13  Resolution_MP  1635 non-null   float64
 14  Price_Class    1635 non-null   int64
dtypes: float64(8), int64(2), object(5)
memory usage: 204.4+ KB

Checking whether 5g network type frequencies are equal

In [29]:
df["Network_Type"].value_counts()

Network_Type
4g    1186
5g     262
3g     187
Name: count, dtype: int64

In [30]:
df["Has5G"].value_counts()

Has5G
no     1373
yes     262
Name: count, dtype: int64

They are both equal.

In [31]:
df.isnull().sum().sum() # Final check for any remaining missing values

0

In [32]:
df.to_csv("Clean_data.csv") # Saving the cleaned dataset to a new CSV file