In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
df = pd.read_csv("mobile_price_synthetic_2015_2024_DIRTY.csv")

In [4]:
df.head()

,Year,Brand,Model Tier,OS,Network Type,Dual Sim,Has5G,Battery_mAh,ScreenSize_in,RAM_GB,StorageGB,Camera_MP,Weight_g,CPU_GHz,Resolution_MP,PriceClass
0,2019.0,Oppo,Flagship,Android,4G,Yes,No,NaN,6.46,8.0,256.0,64.0,NaN,2.83,5.53,2.0
1,2023.0,Nokia,Flagship,Android,5G,Yes,Yes,4681.0,6.74,12.0,256.0,48.0,259.0,2.96,5.87,3.0
2,2016.0,Samsung,Budget,Android,4G,YES,No#,NaN,5.09,4.0,64.0,8.0,221.0,1.56,2.39,0.0
3,2023.0,OnePlus,Midrange,ANDROID,5G,No,yes,3650.0,6.45,8.0,128.0,48.0,215.0,2.32,4.72,3.0
4,2024.0,Motorola,MIDRANGE !,Android,5g,No,Yes,4388.0,6.81,8.0,256.0,48.0,242.0,2.96,5.28,3.0

In [5]:
df["Has5G"] = df["Has5G"].astype(str).str.lower().str.strip()
df["Has5G"] = df["Has5G"].str.extract(r"(yes|no)", expand=False)
df["Has5G"] = df["Has5G"].fillna("nan")
df["Has5G"].value_counts()

Has5G
no     1435
yes     273
nan      17
Name: count, dtype: int64

In [6]:
df["Dual Sim"] = df["Dual Sim"].astype(str).str.lower().str.strip()
df["Dual Sim"] = df["Dual Sim"].str.extract(r"(yes|no)", expand=False)
df["Dual Sim"] = df["Dual Sim"].fillna("nan")  # Keep actual NaNs as "nan" string if needed
df["Dual Sim"].value_counts()

Dual Sim
yes    1006
no      695
nan      24
Name: count, dtype: int64

In [7]:
df["Network Type"] = df["Network Type"].astype(str).str.lower().str.strip()
df["Network Type"] = df["Network Type"].str.extract(r"(4g|5g|3g)", expand=False)
df["Network Type"] = df["Network Type"].fillna("nan")
df["Network Type"].value_counts()

Network Type
4g     1245
5g      271
3g      199
nan      10
Name: count, dtype: int64

In [8]:
df["OS"] = df["OS"].astype(str).str.lower().str.strip()
df["OS"] = df["OS"].str.replace(r'[^a-z]', '', regex=True) # Remove non-letter characters
df["OS"] = df["OS"].str.extract(r"(android|ios|harmonyos)", expand=False)
df["OS"] = df["OS"].fillna("nan")
df["OS"].value_counts()

OS
android      1349
ios           240
nan            97
harmonyos      39
Name: count, dtype: int64

In [9]:
df["Model Tier"] = df["Model Tier"].astype(str).str.lower().str.strip()
df["Model Tier"] = df["Model Tier"].str.replace(r'[^a-z]', '', regex=True)
df["Model Tier"] = df["Model Tier"].str.extract(r"(midrange|budget|flagship)", expand=False)
df["Model Tier"] = df["Model Tier"].fillna("nan")
df["Model Tier"].value_counts()

Model Tier
budget      682
midrange    682
flagship    267
nan          94
Name: count, dtype: int64

In [10]:
df["Brand"] = df["Brand"].astype(str).str.lower().str.strip()
df["Brand"] = df["Brand"].str.replace(r'[^a-z]', '', regex=True)
df["Brand"] = df["Brand"].str.extract(r"(samsung|xiaomi|apple|oneplus|oppo|google|motorola|huawei|nokia|sony|vivo|sony)", expand=False)
df["Brand"] = df["Brand"].fillna("nan")
df["Brand"].value_counts()

Brand
samsung     261
xiaomi      235
apple       232
oneplus     146
oppo        135
vivo        127
google      124
motorola    109
huawei      108
nokia        92
sony         90
nan          66
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1707 non-null   float64
 1   Brand          1725 non-null   object
 2   Model Tier     1725 non-null   object
 3   OS             1725 non-null   object
 4   Network Type   1725 non-null   object
 5   Dual Sim       1725 non-null   object
 6   Has5G          1725 non-null   object
 7   Battery_mAh    1704 non-null   float64
 8   ScreenSize_in  1701 non-null   float64
 9   RAM_GB         1711 non-null   float64
 10  StorageGB      1701 non-null   float64
 11  Camera_MP      1703 non-null   float64
 12  Weight_g       1710 non-null   float64
 13  CPU_GHz        1713 non-null   float64
 14  Resolution_MP  1707 non-null   float64
 15  PriceClass     1712 non-null   float64
dtypes: float64(10), object(6)
memory usage: 215.8+ KB